body {
  font-family: system-ui, sans-serif;
  margin: 0;
  /* background-color: #f9fafb; */
  background-color: white;
  color: black;;
}

header {
  background-color: #bfcbdb;
  color: black;
  padding: 0.75rem 1rem;
}

a {
  color: #001a87;
  text-decoration: none;
}

a:hover {
  color: #3958da;
  text-decoration: underline;
  cursor: pointer;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-toggle {
  display: none;
  background: none;
  border: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Layout for desktop */
.layout {
  display: flex;
}

header {
  font-family: georgia, times, "times new roman", serif;
  margin: 0 0 1em 0;
}

header a {
  text-decoration: none;
  color: #000;
}

header a:hover {
  text-decoration: none;
  color: #000;
}

.sidebar {
  width: 250px;
  /* background-color: #f9fafb; */
  background-color: #fff;
  padding: 1rem;
}

.sidebar {
  /* border-right: 1px solid #ddd; */
  /* background-color: #e0e6ee; */
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav > ul > li {
  margin-bottom: 0.5rem;
}

.sidebar .current {
  font-weight: bold;
}

.sidebar nav a {
  text-decoration: none;
  color: #555;
  display: block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.sidebar nav a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Nested menu */
.sidebar nav li ul {
  padding-left: 1rem;
  margin-top: 0.25rem;
}

.sidebar nav li ul li a {
  font-size: 0.9rem;;
}

/* Content area */
.content {
  flex: 1;
  padding: 1rem;
  max-width: 70rem;
}

/* Overlay for mobile */
.overlay {
  display: none;
  position: fixed;
  inset: 0; /* top, right, bottom, left = 0 */
  background: rgba(0, 0, 0, 0.4);
  z-index: 900; /* below sidebar but above content */
}

/* Mobile styles */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    display: none;
    position: absolute;
    left: 0;
    width: 250px;
    height: calc(100% - 60px);
    background-color: #e9ecef;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    z-index: 1000; /* above overlay */
  }

  .sidebar.show {
    display: block;
  }

  .overlay.show {
    display: block;
  }

  .sidebar-toggle {
    display: block;
  }
}

h2 {
  border-bottom: 1px solid #ddd;
}

ul.news li {
  list-style-type: none;
  margin: 0;
}

table {
    border-spacing: 0.3em;
    border-collapse: collapse;
}

th {
    text-align: left;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 0.2em;
}

th.empty {
    background-color: #fff;
    border: 0;
}

td {
    background: #f7f7f7;
    border: 1px solid #ddd;
    padding: 0.2em;
}

td.num {
    text-align: right;
}

.support-level-a {
    background: #091;
    color: #fff;
    text-align: center;
}

.support-level-b {
    background: #6a906e;
    background: #93ad96;
    color: #fff;
    text-align: center;
}

.support-level-c {
    background: #910;
    color: #fff;
    text-align: center;
}

td.text {
    text-align: left;
}

summary {
  cursor: pointer;
  color: #001a87;
}

blockquote {
    font-style: italic;
}

pre {
  border: 1px #777 dashed;
  padding: 1em;
}
